<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/main/style.css" />
    <link rel="stylesheet" href="/forms/forms.css" />
    <link rel="stylesheet" href="/schedule/shelter.css" />
    <script src="/js/booking.js" defer></script>
    <title><%= pageTitle %></title>
  </head>
  <body>
    <header><%- include('../includes/nav.ejs') %></header>
    <main>
      <div id="content">
        <h1><%= landerName %></h1>
        <div id="date-container">
          <input type="date" name="date-select" id="date-select" />
          <button id="date-btn">View Day</button>
        </div>
        <div id="layout">
          <% if (shelters.length != 0) { %>
          <div id="day-shelter-view">
            <% for (const shelter of shelters) { %>
            <div class="shelter-container">
              <h3><%= shelter.regionName %> <%= shelter.depotType %></h3>
              <section>
                <p class="phone-p">
                  Phone:
                  <a href="tel:<%= shelter.phone %> "><%= shelter.phone %></a>
                </p>
                <!-- <p>Position: <%= shelter.position %></p> -->
                <a
                  class="btn"
                  href="/schedule/shelter/<%= shelter._id %>?edit=true"
                ></a>
              </section>
              <div class="schedule" id="<%= shelter._id %>"></div>
            </div>
            <% } %>
          </div>
          <% } else { %>
          <a href="/schedule/shelter">Book Shelter</a>
          <% } %>
        </div>
        <div class="form-container">
          <form action="/schedule" method="POST" autocomplete="off">
            <div class="form-control">
              <label for="name">Name</label>
              <input type="text" name="name" id="name-input" required />
            </div>
            <div class="form-control">
              <label for="day">Day</label>
              <input type="date" name="day" id="" required />
            </div>
            <div class="form-control">
              <label for="start">Start Time</label>
              <input type="time" name="start" id="start-time" required />
            </div>
            <div class="form-control">
              <label for="duration">Duration (Minutes)</label>
              <input type="number" name="duration" id="duration" required />
            </div>
            <div class="form-control">
              <label for="phone">Phone</label>
              <input type="tel" name="phone" id="phone" required />
            </div>
            <div class="form-control">
              <label for="shelter">Shelter</label>
              <select name="shelter" id="shelter-select" required>
                <% for (const shelter of shelters) { %>
                <option value="<%= shelter._id %>">
                  <%= shelter.regionName %> <%= shelter.depotType %>
                </option>
                <% } %>
              </select>
            </div>
            <div class="form-control">
              <label for="reason">Reason for Booking</label>
              <textarea
                name="reason"
                id="reason"
                cols="30"
                rows="10"
                required
              ></textarea>
            </div>
            <input
              type="hidden"
              name="_csrf"
              id="_csrf"
              value="<%= csrfToken %>"
            />
            <button type="submit">Add Booking</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <button id="change-view">Change View</button>
    </footer>
  </body>
</html>
